<html>
<head>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="StreetSweep">
    <div ng-controller="parkingController">
        <form ng-submit="streetSearch()">
            <input ng-model="myStreet" type="text" />
            <input type="submit"/>
            {{foundStreet}}
        </form>
        <table>
            <th ng-repeat="day in daysOfWeek">
            {{day}}
            <tr ng-repeat="week in daysOfMonth" >
            <td ng-repeat="day in week" class="calendar-day" ng-class="{ highlight: day.isToday() }" >
                    {{day.date}}
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>