table {
    border: 1px solid blue;
    margin: 0 auto;
}
form {
    display: inline;
    float: left;
}
.highlight {
    background-color: #f00;
    color: pink;
}
.calendar-day {
    height: 50px;
    width: 50px;
    display: inline;
    border: 1px solid gold;
}